### COVID 19 DATA

* Analyse
* visualize information

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [84]:
data = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
data[:5]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [30]:
data.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
349994,ZWE,Africa,Zimbabwe,2023-10-14,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
349995,ZWE,Africa,Zimbabwe,2023-10-15,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
349996,ZWE,Africa,Zimbabwe,2023-10-16,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
349997,ZWE,Africa,Zimbabwe,2023-10-17,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
349998,ZWE,Africa,Zimbabwe,2023-10-18,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

$Exploratory Data Analysis (EDA)$

In [85]:
#First, always back up your data
import copy
df = copy.deepcopy(data)

In [31]:
data.isna().sum()

iso_code                                        0
continent                                   16629
location                                        0
date                                            0
total_cases                                 37911
                                            ...
population                                      0
excess_mortality_cumulative_absolute       337837
excess_mortality_cumulative                337837
excess_mortality                           337837
excess_mortality_cumulative_per_million    337837
Length: 67, dtype: int64

In [61]:
#How to see the percentage of missing data
(df.isna().mean()* 100).sort_values(ascending = False) #you can add slicing to see the top 10 or 50 e.g [:50] or .head(10)

weekly_icu_admissions                      97.089135
weekly_icu_admissions_per_million          97.089135
excess_mortality_cumulative_per_million    96.525133
excess_mortality                           96.525133
excess_mortality_cumulative                96.525133
                                             ...
new_deaths_per_million                      2.710865
population                                  0.000000
date                                        0.000000
location                                    0.000000
iso_code                                    0.000000
Length: 67, dtype: float64

In [32]:
data.shape

(349999, 67)

In [33]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [34]:
data["continent"].unique()

array(['Asia', nan, 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

In [35]:
data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,3.120880e+05,3.404570e+05,3.391980e+05,2.905010e+05,340511.000000,339281.000000,312088.000000,340457.000000,339198.000000,290501.000000,...,200839.000000,132965.000000,239619.000000,322018.000000,263088.000000,3.499990e+05,1.216200e+04,12162.000000,12162.000000,12162.000000
mean,6.683354e+06,9.601634e+03,9.637066e+03,8.602180e+04,85.511055,85.817071,101749.851259,145.163814,145.696924,872.289356,...,32.909730,50.789417,3.097030,73.712913,0.722439,1.282232e+08,5.285105e+04,9.744637,11.358723,1668.943959
std,4.068903e+07,1.102769e+05,9.447784e+04,4.398873e+05,613.687971,559.130004,151265.689121,1163.714678,599.957847,1100.189784,...,13.574501,31.956985,2.548368,7.395449,0.148975,6.599577e+08,1.493233e+05,12.313853,25.201702,1940.140010
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2752.924800
25%,8.090000e+03,0.000000e+00,2.860000e-01,1.270000e+02,0.000000,0.000000,2595.577500,0.000000,0.044000,60.606000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,1.194250e+02,1.390000,-1.610000,71.417071
50%,7.020500e+04,2.000000e+00,2.485700e+01,1.328000e+03,0.000000,0.143000,28307.659000,0.128000,6.517000,377.169000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,5.853900e+03,8.090000,5.730000,1101.406450
75%,7.409558e+05,2.640000e+02,4.978570e+02,1.192200e+04,3.000000,5.143000,133506.244000,35.466000,82.411000,1365.925000,...,41.300000,83.241000,4.200000,79.460000,0.829000,2.830170e+07,3.754988e+04,15.370000,16.355000,2743.687450
max,7.714071e+08,8.401961e+06,6.402036e+06,6.972139e+06,27939.000000,14822.000000,737554.506000,228872.025000,37241.781000,6511.209000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.289776e+06,76.620000,377.630000,10292.916000

In [36]:
data.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
population                                 float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [49]:
#To get number of cases in a particular location
[data["location"] == "Nigeria"]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
220869,NGA,Africa,Nigeria,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,10.8,41.949,NaN,54.69,0.539,218541216.0,NaN,NaN,NaN,NaN
220870,NGA,Africa,Nigeria,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,10.8,41.949,NaN,54.69,0.539,218541216.0,NaN,NaN,NaN,NaN
220871,NGA,Africa,Nigeria,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,10.8,41.949,NaN,54.69,0.539,218541216.0,NaN,NaN,NaN,NaN
220872,NGA,Africa,Nigeria,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,10.8,41.949,NaN,54.69,0.539,218541216.0,NaN,NaN,NaN,NaN
220873,NGA,Africa,Nigeria,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,10.8,41.949,NaN,54.69,0.539,218541216.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222249,NGA,Africa,Nigeria,2023-10-14,267146.0,0.0,0.0,3155.0,0.0,0.0,...,10.8,41.949,NaN,54.69,0.539,218541216.0,NaN,NaN,NaN,NaN
222250,NGA,Africa,Nigeria,2023-10-15,267146.0,0.0,0.0,3155.0,0.0,0.0,...,10.8,41.949,NaN,54.69,0.539,218541216.0,NaN,NaN,NaN,NaN
222251,NGA,Africa,Nigeria,2023-10-16,267146.0,0.0,0.0,3155.0,0.0,0.0,...,10.8,41.949,NaN,54.69,0.539,218541216.0,NaN,NaN,NaN,NaN
222252,NGA,Africa,Nigeria,2023-10-17,267146.0,0.0,0.0,3155.0,0.0,0.0,...,10.8,41.949,NaN,54.69,0.539,218541216.0,NaN,NaN,NaN,NaN
222253,NGA,Africa,Nigeria,2023-10-18,267146.0,0.0,0.0,3155.0,0.0,0.0,...,10.8,41.949,NaN,54.69,0.539,218541216.0,NaN,NaN,NaN,NaN

In [50]:
#To check number of cases per location
data["location"].value_counts()

Argentina          1387
Mexico             1387
Europe             1386
Uruguay            1386
South America      1386
                   ...
England            1303
Wales              1198
Macao               795
Northern Cyprus     691
Western Sahara        1
Name: location, Length: 255, dtype: int64

In [62]:
#Data cleaning
data["location"].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High income', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low income', 'Lower middle income', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [86]:
#Removing inapproprate locations
condition = data["location"].isin(["Africa", "World", "Low income", "Lower middle income", "High income", "Upper middle income"])
data.drop(data[condition].index, inplace = True) #The index is to drop whatever is in the index.
#I could not use axis = 0 or axis = 1 because I am not dropping all rows or columns so I could not use axis but index
data["location"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'European Union', 'Faeroe Islands', 'Falkland Islands',
       'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam',
       'Wales', 'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [133]:
#To see recent cases first
#reset_index is to starting the indexing from 0 again so it starts counting from 0 in ascending order
#can also use sort_values
recent = recent.sort_values(by = "date", ascending = False)
recent

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2023/10/19,OWID_SAM,NaN,South America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.368167e+08,NaN,NaN,NaN,NaN
2023/10/19,SWE,Europe,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.9,NaN,2.22,82.80,0.945,1.054935e+07,NaN,NaN,NaN,NaN
2023/10/19,ABW,North America,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,76.29,NaN,1.064590e+05,NaN,NaN,NaN,NaN
2023/10/19,NLD,Europe,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.3,NaN,3.32,82.28,0.944,1.756402e+07,NaN,NaN,NaN,NaN
2023/10/19,IND,Asia,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.6,59.550,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020/01/03,BRN,Asia,Brunei,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,30.9,NaN,2.70,75.86,0.838,4.490020e+05,NaN,NaN,NaN,NaN
2020/01/02,MEX,North America,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.4,87.847,1.38,75.05,0.779,1.275041e+08,NaN,NaN,NaN,NaN
2020/01/02,ARG,South America,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.7,NaN,5.00,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
2020/01/01,MEX,North America,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.4,87.847,1.38,75.05,0.779,1.275041e+08,NaN,NaN,NaN,NaN
2020/01/01,ARG,South America,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.7,NaN,5.00,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN

In [128]:
recent["date"] = pd.to_datetime(recent["date"]).dt.strftime("%Y/%m/%d")
recent
#note: since strftime is used, it converts back to object no longer datetime

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
292047,OWID_SAM,NaN,South America,2023/10/19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,436816679.0,NaN,NaN,NaN,NaN
16622,ABW,North America,Aruba,2023/10/19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,76.29,NaN,106459.0,NaN,NaN,NaN,NaN
175748,LTU,Europe,Lithuania,2023/10/19,NaN,NaN,NaN,NaN,NaN,NaN,...,38.0,NaN,6.56,75.93,0.882,2750058.0,NaN,NaN,NaN,NaN
184855,MYS,Asia,Malaysia,2023/10/19,NaN,NaN,NaN,NaN,NaN,NaN,...,42.4,NaN,1.90,76.16,0.810,33938216.0,NaN,NaN,NaN,NaN
225024,OWID_NAM,NaN,North America,2023/10/19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600323657.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160513,OWID_KOS,Europe,Kosovo,2020/01/03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1782115.0,NaN,NaN,NaN,NaN
195937,MEX,North America,Mexico,2020/01/02,NaN,NaN,NaN,NaN,NaN,NaN,...,21.4,87.847,1.38,75.05,0.779,127504120.0,NaN,NaN,NaN,NaN
12466,ARG,South America,Argentina,2020/01/02,NaN,NaN,NaN,NaN,NaN,NaN,...,27.7,NaN,5.00,76.67,0.845,45510324.0,NaN,NaN,NaN,NaN
195936,MEX,North America,Mexico,2020/01/01,NaN,NaN,NaN,NaN,NaN,NaN,...,21.4,87.847,1.38,75.05,0.779,127504120.0,NaN,NaN,NaN,NaN
12465,ARG,South America,Argentina,2020/01/01,NaN,NaN,NaN,NaN,NaN,NaN,...,27.7,NaN,5.00,76.67,0.845,45510324.0,NaN,NaN,NaN,NaN

In [146]:
year = pd.to_datetime(data["date"]).dt.year
data.insert(4, "year", year) #To insert in a new column in a particular position 

data[:2]

,iso_code,continent,location,date,year,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020/01/03,2020,NaN,0.0,NaN,NaN,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020/01/04,2020,NaN,0.0,NaN,NaN,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [132]:
#To reset and change the index to the date to move to flourishi
#if you don't want to put anything inside, use reset_index, if you want to pass something, use set_index
recent = recent.set_index("date")

KeyError: "None of ['date'] are in the columns"

In [150]:
#To create Pivot Table in Python
flourish_data = pd.pivot_table(data = recent, values ="total_cases", index = "location", columns= "date").reset_index()
flourish_data

date,location,2020/01/04,2020/01/05,2020/01/06,2020/01/07,2020/01/08,2020/01/09,2020/01/10,2020/01/11,2020/01/12,...,2023/10/09,2023/10/10,2023/10/11,2023/10/12,2023/10/13,2023/10/14,2023/10/15,2023/10/16,2023/10/17,2023/10/18
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,226578.0,226625.0,226652.0,226710.0,226772.0,226813.0,226816.0,226816.0,226816.0,226816.0
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,271928.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11623847.0,11623858.0,11623858.0,11623911.0,11623911.0,11623976.0,11623987.0,11623987.0,11623987.0,11623987.0
234,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0
235,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0
236,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0
237,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,265771.0,265808.0,265808.0,265808.0,265808.0,265808.0,265808.0,265808.0,265808.0,265808.0

In [136]:
flags = pd.read_csv("https://raw.githubusercontent.com/rajeevratan84/covid/master/flags_world.csv")
flags

          country                                          Image URL
0     Afghanistan  https://upload.wikimedia.org/wikipedia/commons...
1          Angola  https://cdn.countryflags.com/thumbs/angola/fla...
2         Albania  https://cdn.countryflags.com/thumbs/albania/fl...
3         Andorra  https://cdn.countryflags.com/thumbs/andorra/fl...
4       Argentina  https://cdn.countryflags.com/thumbs/argentina/...
..            ...                                                ...
203        Kosovo  https://cdn.countryflags.com/thumbs/kosovo/fla...
204   Yemen, Rep.       https://flagpedia.net/data/flags/w580/ye.png
205  South Africa  https://cdn.countryflags.com/thumbs/south-afri...
206        Zambia  https://cdn.countryflags.com/thumbs/zambia/fla...
207      Zimbabwe  https://cdn.countryflags.com/thumbs/zimbabwe/f...

[208 rows x 2 columns]

In [151]:
final_data = pd.merge(flourish_data, flags, left_on = "location", right_on = "country")
#you could have just renamed flags column and then used how = inner, on = country
#unlike SQL where you use left join and right join here you use left on and right on
final_data.head()

,location,2020/01/04,2020/01/05,2020/01/06,2020/01/07,2020/01/08,2020/01/09,2020/01/10,2020/01/11,2020/01/12,...,2023/10/11,2023/10/12,2023/10/13,2023/10/14,2023/10/15,2023/10/16,2023/10/17,2023/10/18,country,Image URL
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,226652.0,226710.0,226772.0,226813.0,226816.0,226816.0,226816.0,226816.0,Afghanistan,https://upload.wikimedia.org/wikipedia/commons...
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,Albania,https://cdn.countryflags.com/thumbs/albania/fl...
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,Algeria,https://cdn.countryflags.com/thumbs/algeria/fl...
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,Andorra,https://cdn.countryflags.com/thumbs/andorra/fl...
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105972.0,105972.0,105972.0,105972.0,105972.0,105972.0,105972.0,105972.0,Angola,https://cdn.countryflags.com/thumbs/angola/fla...

In [152]:
del final_data["country"] #this del can be used instead of drop. this was because location and country have the  same thing
img = final_data["Image URL"]
final_data.drop(labels = ["Image URL"], axis = 1, inplace = True) #you need to drop before you can re-input. removing column from last column
final_data.insert(1, "Flags", img) #flags is the name of the file, img is what we want to input and insert in 2nd column

In [153]:
final_data.to_csv("covid_final.csv") #file name to save as to run in flourish
final_data

,location,Flags,2020/01/04,2020/01/05,2020/01/06,2020/01/07,2020/01/08,2020/01/09,2020/01/10,2020/01/11,...,2023/10/09,2023/10/10,2023/10/11,2023/10/12,2023/10/13,2023/10/14,2023/10/15,2023/10/16,2023/10/17,2023/10/18
0,Afghanistan,https://upload.wikimedia.org/wikipedia/commons...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,226578.0,226625.0,226652.0,226710.0,226772.0,226813.0,226816.0,226816.0,226816.0,226816.0
1,Albania,https://cdn.countryflags.com/thumbs/albania/fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0
2,Algeria,https://cdn.countryflags.com/thumbs/algeria/fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,271928.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0
3,Andorra,https://cdn.countryflags.com/thumbs/andorra/fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0
4,Angola,https://cdn.countryflags.com/thumbs/angola/fla...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105972.0,105972.0,105972.0,105972.0,105972.0,105972.0,105972.0,105972.0,105972.0,105972.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Uzbekistan,https://cdn.countryflags.com/thumbs/uzbekistan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,174123.0,174123.0,174123.0,174123.0,174123.0,174123.0,174123.0,174123.0,174123.0,174123.0
176,Vanuatu,https://upload.wikimedia.org/wikipedia/commons...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12019.0,12019.0,12019.0,12019.0,12019.0,12019.0,12019.0,12019.0,12019.0,12019.0
177,Vietnam,https://cdn.countryflags.com/thumbs/vietnam/fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11623847.0,11623858.0,11623858.0,11623911.0,11623911.0,11623976.0,11623987.0,11623987.0,11623987.0,11623987.0
178,Zambia,https://cdn.countryflags.com/thumbs/zambia/fla...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0
179,Zimbabwe,https://cdn.countryflags.com/thumbs/zimbabwe/f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,265771.0,265808.0,265808.0,265808.0,265808.0,265808.0,265808.0,265808.0,265808.0,265808.0